<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rain.mapper.DistrictMapper">
    <sql id="allColumn">
        id,parent,code,name
    </sql>
    <sql id="noId">
        parent,code,name
    </sql>
    <sql id="tableName">
        t_dict_district
    </sql>
    <!--
        List<District> findByParent(String parent);
    -->
    <select id="findByParent" resultType="com.rain.entity.District">
        select <include refid="allColumn"/> from t_dict_district where parent = #{parent} order by code ASC
    </select>
    <!--
        String findNameByCode(String code);
    -->
    <select id="findNameByCode" parameterType="string" resultType="string">
        select name from <include refid="tableName"/> where code = #{code}
    </select>
</mapper>